.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

table {
  width: 100%;
  margin-top: 10px;
}

.info-card {
  max-width: auto;
}

mat-form-field {
  margin-right: 12px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}