<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-atom" [fullScreen]="false">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>
<mat-card class="info-card">
    <mat-card-header>
        <mat-card-title>Métodos de la clase {{ className | uppercase }}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
</mat-card>

<mat-accordion *ngFor="let method of methods">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="headers-align">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ method.NAME }}
            </mat-panel-title>
            <mat-panel-description>
                {{ method.DESCRIPTION }}
                <label>Visibilidad: {{ method.VISIBILITY }}</label>
            </mat-panel-description>
        </mat-expansion-panel-header>



        <mat-tab-group>
            <mat-tab label="Parámetros">
                <table mat-table [dataSource]="method.PARAMETER" class="mat-elevation-z8"
                    *ngIf="method.PARAMETER.length>0">

                    <ng-container matColumnDef="NAME">
                        <th mat-header-cell *matHeaderCellDef> Parámetro </th>
                        <td mat-cell *matCellDef="let element"> {{element.NAME}} </td>
                    </ng-container>

                    <ng-container matColumnDef="DESCR">
                        <th mat-header-cell *matHeaderCellDef> Descripción </th>
                        <td mat-cell *matCellDef="let element"> {{element.DESCRIP}} </td>
                    </ng-container>

                    <ng-container matColumnDef="TYPE">
                        <th mat-header-cell *matHeaderCellDef> Tipo </th>
                        <td mat-cell *matCellDef="let element"> {{element.TYPE}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <div class="emptyParamContainer" *ngIf="!method.PARAMETER.length>0">
                    <mat-icon>event_busy</mat-icon>
                    <span class="aligned-with-icon">No posee parámetros</span>
                </div>

            </mat-tab>

            <mat-tab label="Excepciones">
                Aquí van las excepciones
            </mat-tab>

            <mat-tab label="Código Fuente">
                <div class="codeContainer">
                <ngx-prism language="html" *ngFor="let code of method.CODE">
                    {{ code.LINE}}
                </ngx-prism>
                </div>
            </mat-tab>

            <mat-tab label="% Documentación">
                <progress-bar [progress]="numberPercentDocBar" [color]="colorPercentDocBar"></progress-bar>
                <div>
                    <ul>
                        <li>{{verifyMethodDesc}}</li>
                    </ul>
                </div>
            </mat-tab>

            <mat-tab label="Sugerencias">
                <div *ngFor="let suggest of suggestedMethodCode">
                    <div *ngIf="method.NAME == suggest.NAME" class="codeContainer">
                        <ngx-prism language="html" *ngFor="let sCode of suggest.CODE">
                            {{ sCode.LINE}}
                        </ngx-prism>
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>

    </mat-expansion-panel>
</mat-accordion>