.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-accordion{
  padding-top: 20px;
}

label{
  justify-content: space-between;
  align-items: end;
}

mat-form-field {
  margin-right: 12px;
}

table {
  width: 100%;
  margin-top: 10px;
}

.info-card {
  max-width: auto;
}

mat-form-field {
  margin-right: 12px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.aligned-with-icon{
  position: relative;
  top: -5px;
  margin-left: 5px; /* optional */
  margin-left: 5px; /* optional */
}

.emptyParamContainer{
  margin-top: 5px;
}

.codeContainer{
  //height: 300px;
  transform: none;
  background: #370e86;
  color: #fff;
  padding: 2em;
  line-height: 1;
  //overflow-y: scroll;
}