<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-atom" [fullScreen]="false">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>
<mat-card class="info-card">
  <mat-card-header>
    <mat-card-title>{{ class?.CLASS_DATA.NAME }}</mat-card-title>
    <mat-card-subtitle>Descripción: {{ class?.CLASS_DATA.DESCRIPTION }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-list>
      <mat-chip>Visibilidad: {{ class?.CLASS_DATA.EXPOSURE }}</mat-chip>
      <mat-chip>Creado por: {{ class?.CLASS_DATA.CREATED_BY }}</mat-chip>
      <mat-chip>Fecha Creación: {{ class?.CLASS_DATA.CREATED_ON | dateFormatYYYYMMDD }}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>

<table mat-table [dataSource]="attributes" multiTemplateDataRows class="mat-elevation-z8" *ngIf="attributes?.length>0">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell mat-cell *matCellDef="let element"> {{element[column]}}</td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="table-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="table-element-description">

          <div class="card-container">
            <div class="separated-card">
              <mat-card>
                <mat-card-subtitle> Tipo: {{ element.TYPING }} </mat-card-subtitle>
              </mat-card>
            </div>
            <div class="separated-card">
              <mat-card>
                <mat-card-subtitle> Tipo Asociado: {{ element.ASSOCIATEDTYPE }} </mat-card-subtitle>
              </mat-card>
            </div>
            <div class="separated-card">
              <mat-card>
                <mat-card-subtitle> Creado por: {{ element.CREATED_BY }} </mat-card-subtitle>
              </mat-card>
            </div>
            <div class="separated-card">
              <mat-card>
                <mat-card-subtitle> Fecha de creación: {{ element.CREATED_ON | dateFormatYYYYMMDD }} </mat-card-subtitle>
              </mat-card>
            </div>
          </div>

        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="table-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="table-detail-row"></tr>
</table>

<div class="emptyAttContainer" *ngIf="!attributes?.length>0">
    <mat-icon>event_busy</mat-icon> 
    <span class="aligned-with-icon">No posee atributos</span>
</div>