<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-atom" [fullScreen]="false">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>
<mat-card class="info-card">
  <mat-card-header>
    <mat-card-title>{{ class?.CLASS_DATA.NAME }}</mat-card-title>
    <mat-card-subtitle>Descripción: {{ class?.CLASS_DATA.DESCRIPTION }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-list>
      <mat-chip>Visibilidad: {{ class?.CLASS_DATA.EXPOSURE }}</mat-chip>
      <mat-chip>Creado por: {{ class?.CLASS_DATA.CREATED_BY }}</mat-chip>
      <mat-chip>Fecha Creación: {{ class?.CLASS_DATA.CREATED_ON | dateFormatYYYYMMDD }}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>

<table mat-table [dataSource]="attributes" class="mat-elevation-z8" *ngIf="showAttributes">

    <ng-container matColumnDef="ATTRIBUTE">
        <th mat-header-cell *matHeaderCellDef> Atributo </th>
        <td mat-cell *matCellDef="let element"> {{element.ATTRIBUTE}} </td>
    </ng-container>

    <ng-container matColumnDef="DESCRIPTION">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.DESCRIPTION}} </td>
    </ng-container>

    <ng-container matColumnDef="LEVEL">
        <th mat-header-cell *matHeaderCellDef> Clase </th>
        <td mat-cell *matCellDef="let element"> {{element.LEVEL}} </td>
    </ng-container>

    <ng-container matColumnDef="VISIBILITY">
        <th mat-header-cell *matHeaderCellDef> Visibilidad </th>
        <td mat-cell *matCellDef="let element"> {{element.VISIBILITY}} </td>
    </ng-container>

    <ng-container matColumnDef="TYPING">
        <th mat-header-cell *matHeaderCellDef> Tipificación </th>
        <td mat-cell *matCellDef="let element"> {{element.TYPING}} </td>
    </ng-container>

    <ng-container matColumnDef="ASSOCIATEDTYPE">
        <th mat-header-cell *matHeaderCellDef> Tipo Asociado </th>
        <td mat-cell *matCellDef="let element"> {{element.ASSOCIATEDTYPE}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="emptyAttContainer" *ngIf="!showAttributes">
    <mat-icon>event_busy</mat-icon> 
    <span class="aligned-with-icon">No posee atributos</span>
</div>