<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-atom" [fullScreen]="false">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>

<mat-card class="info-card">
    <mat-card-header>
        <mat-card-title>Eventos de la clase {{ className | uppercase }}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
</mat-card>

<table mat-table [dataSource]="events" class="mat-elevation-z8">

    <ng-container matColumnDef="EVENT">
        <th mat-header-cell *matHeaderCellDef> EVENTO </th>
        <td mat-cell *matCellDef="let element"> {{element.EVENT}} </td>
    </ng-container>

    <ng-container matColumnDef="DESCRIPTION">
        <th mat-header-cell *matHeaderCellDef> DESCRIPCIÓN </th>
        <td mat-cell *matCellDef="let element"> {{element.DESCRIPTION}} </td>
    </ng-container>

    <ng-container matColumnDef="LEVEL">
        <th mat-header-cell *matHeaderCellDef> NIVEL </th>
        <td mat-cell *matCellDef="let element"> {{element.LEVEL}} </td>
    </ng-container>

    <ng-container matColumnDef="VISIBILITY">
        <th mat-header-cell *matHeaderCellDef> VISIBILIDAD </th>
        <td mat-cell *matCellDef="let element"> {{element.VISIBILITY}} </td>
    </ng-container>

    <ng-container matColumnDef="CREATED_BY">
        <th mat-header-cell *matHeaderCellDef> CREADO POR </th>
        <td mat-cell *matCellDef="let element"> {{element.CREATED_BY}} </td>
    </ng-container>

    <ng-container matColumnDef="CREATED_ON">
        <th mat-header-cell *matHeaderCellDef> FECHA CREACIÓN </th>
        <td mat-cell *matCellDef="let element"> {{element.CREATED_ON | dateFormatYYYYMMDD}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>